<div class="content list row">
    <div class="col-md-6">
        <h1>Orders List</h1>
        <div *ngIf="orders != ''">
            <ul class="list-group"><li class="list-group-item" *ngFor="let order of orders; let i = index" [class.active]="i == currentIndex" (click)="setActiveOrder(order, i)" routerLink="/orders/{{ order.id }}"><span class="id">{{ order.id }}</span>{{ order.item }}<span class="status {{ order.status }}">{{ order.status }}</span></li></ul>
        </div>
        <div *ngIf="orders == ''" class="error"><p>--- No Order Found ---</p></div>
    </div>
    <div *ngIf="error_message">
        <h4 class="error"><p>{{ error_message }}</h4>
    </div>
</div>