.content {
    width: 50%;
    margin: auto;
}

.list {
    text-align: left;
}

.list-group {
    list-style-type: none;
}

.list-group-item {
    border: 1px solid #38B09D;
    cursor: pointer;
    padding: 15px;
}

li:hover,li.active {
    background-color: #38B09D;
}

.id {
    font-size: 10px;
    font-weight: bold;
    float: left;
    padding: 3px;
    color: black;
    border-radius: 2px;
    margin-right: 10px;
    background-color: #38B09D;
}

.status {
    font-size: 8px;
    font-weight: bold;
    float: right;
    padding: 3px;
    color: white;
    border-radius: 2px;
}

.created {
    background-color: #b09d38;
}

.confirmed {
    background-color: #3887b0;
}

.delivered {
    background-color: #38B09D;
}

.cancelled {
    background-color: #b0384b;
}

.error {
    color:#b0384b;
}