<div class="content">
    <div *ngIf="currentOrder" class="edit-form">
        <h1>Order Detail</h1>
        <table>
            <tr><th><strong>Order ID</strong></th><td>{{ currentOrder.id }}</td></tr>
            <tr><th><strong>Item</strong></th><td>{{ currentOrder.item }}</td></tr>
            <tr><th><strong>Status</strong></th><td class="status {{ currentOrder.status }}">{{ currentOrder.status | titlecase }}</td></tr>
            <tr><th><strong>Created At</strong></th><td>{{ currentOrder.createdAt | date:'medium'}}</td></tr>
            <tr><th><strong>Updated At</strong></th><td>{{ currentOrder.updatedAt | date:'medium'}}</td></tr>
        </table>
        <button class="btn btn-cancel" *ngIf="currentOrder.status != 'delivered' && currentOrder.status != 'cancelled'" (click)="cancelOrder()">Cancel This Order</button>
        <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentOrder"><br/><p>Cannot access this Order...</p></div>
  </div>