.content {
    width: 50%;
    margin: auto;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #38B09D;
    color: white;
}

table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

.btn {
    background-color: #b0384b;
    color: white;
    padding: 8px 28px;
    margin: 20px;
    border-radius: 8px;
    border: 2px solid #b0384b;
    cursor: pointer;
}

td.status {
    color: white !important;
    font-weight: bold;
}

.created {
    background-color: #b09d38;
}

.confirmed {
    background-color: #3887b0;
}

.delivered {
    background-color: #38B09D;
}

.cancelled {
    background-color: #b0384b;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.edit-form {
    text-align: center;
}