.list {
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
}

input {
    width: 20%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn {
    background-color: #38B09D;
    padding: 8px 28px;
    margin: 20px;
    border-radius: 8px;
    border: 2px solid #38B09D;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.error {
    color:#b0384b;
}