<div class="list row">
    <div class="col-md-6">
        <h1>Add an Order</h1>
        <div class="submit-form">
            <div *ngIf="!submitted">
                <div class="form-group">
                    <label for="item">Item</label>
                    <input type="text" class="form-control" id="item" required [(ngModel)]="order.item" name="item" style="margin: 20px;"/>
                </div>
                <button (click)="saveOrder()" class="btn btn-success">Submit</button>
            </div>
            <div *ngIf="submitted">
                <h4>You order submitted successfully!</h4>
                <button class="btn btn-success" (click)="newOrder()">Add</button>
            </div>
            <div *ngIf="error_message">
                <h4 class="error"><p>{{ error_message }}</h4>
            </div>
        </div>
    </div>
</div>